@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------- utility classes -----------*/
.text-primary-light {
  color: #af8aff;
}
.btn-active {
  background-color: #570df8;
}
.bg-primary-light {
  background-color: #af8aff;
}
/*----------- other -----------*/
.movie-card:hover figure img {
  transform: scale(1.02);
}
.image-placeholder {
  background-color: #2a2e37;
  opacity: 1;
  background: repeating-linear-gradient(
    -45deg,
    #3d4451,
    #3d4451 2.5px,
    #2a2e37 2.5px,
    #2a2e37 12.5px
  );
}
/*---------- movie info  -----------*/
.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.movie-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
/*----------- movie tab -----------*/
.absolute-tab {
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
/*----------- footer -----------*/
.absolute-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.absolute-social {
  position: absolute;
  top: 20px;
  right: 20px;
}
.copyright-container {
  display: flex;
  justify-content: center;
  height: 0px;
}
/*----------- sliding hamburger menu -----------*/
.sliding-menu-container {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0px;
  z-index: 99;
  left: 0;
  transition: left 0.2s ease;
}
.show-menu {
  left: 0;
}
.hide-menu {
  left: -9999px;
}
/*----------- pagination -----------*/
.pagination-container {
  display: flex;
  justify-content: flex-start;

  z-index: 999;
  margin-top: 40px;
  padding: 0px;
  overflow-x: scroll;
}

/*------------------ scrollbar styling -----------------*/

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #af8aff;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #570df8;
}
/*----------- opening animation -----------*/
.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 2000;
}
.play-icon {
  /* max-width: 40%; */
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.cine-mix {
  /* max-width: 40%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.wiper {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  z-index: -1;
  animation: wipe 2s infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.66, 0.08, 0.43, 0.85);
}
.play-icon {
  transform: translateX(175%);
  animation: mark 2s infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.66, 0.08, 0.43, 0.85);
  z-index: 2;
}
.cine-mix {
  fill: #010101;
  transform: translateX(-30%);
  animation: word 2s infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.84, 0.12, 0.13, 0.82);
}
/* .cine-mix {
  animation-delay: 0.65s;;
} */
@keyframes word {
  0%,
  20% {
    transform: translateX(0%);
  }
  70%,
  100% {
    transform: translateX(-5000px);
  }
}
@keyframes mark {
  0%,
  20% {
    transform: translateX(0%);
  }
  70%,
  100% {
    transform: translateX(5000px);
  }
}
@media (max-width: 800px) {
  .sliding-menu-container {
    width: 100%;
  }
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  .theme-selector {
    display: block;
  }
  .top-inner-movie-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .movie-details {
    padding: 0;
    margin: 0;
  }
  .movie-title-container {
    flex-direction: column;
  }
  .movie-title {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .language {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .vote-container {
    margin-bottom: 20px;
  }

  .movie-overview {
    font-size: 0.9rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .genre-badge {
    font-size: 0.7rem;
  }
}
@media (max-width: 700px) {
  .form-control input {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  .top-inner-movie-container {
    overflow-y: scroll;
  }
  .video-carousel {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .sliding-menu-container div {
    font-size: 1.1rem;
    padding: 10px;
  }
  .sliding-menu-container a {
    font-size: 1.1rem;
    padding: 10px;
  }
  .form-control input {
    font-size: 0.9rem;
  }
  .play-icon {
    top: 40%;
    left: 37%;
  }
  .cine-mix {
    top: 50%;
    left: 20%;
    font-size: 2.5rem;
  }
  .tabs {
    display: flex;
    justify-content: center;
  }
  .tab {
    font-size: 0.6rem;
    padding: 8px;
  }
  .copyright-container {
    font-size: 0.7rem;
  }
  .top-inner-movie-container {
    margin: 48px 0;
    margin-top: 60px;
  }
  .bottom-inner-movie-container {
    padding: 0;
    margin: 10px 0;
  }
  .video-carousel {
    flex-wrap: wrap;
  }
}
