@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary-light {
  color: #af8aff;
}
.movie-card:hover figure img {
  transform: scale(1.02);
}
.bg-primary-light {
  background-color: #af8aff;
}
.image-placeholder {
  background-color: #2a2e37;
  opacity: 1;
  background: repeating-linear-gradient(
    -45deg,
    #3d4451,
    #3d4451 2.5px,
    #2a2e37 2.5px,
    #2a2e37 12.5px
  );
}
.absolute-tab {
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.copyright-container {
  transform: translateX(-50%);
}
.sliding-menu-container {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0px;
  z-index: 19;
  left: 0;
  transition: left 0.2s ease;
}
.show-menu {
  left: 0;
}
.hide-menu {
  left: -9999px;
}
@media (max-width: 500px) {
  .sliding-menu-container {
    width: 100%;
  }
}
